<!DOCTYPE html>
<html>
  <head>
    <title>To do list!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
    #foreach( $t in $todos )
         <li> $t.title $t.item $t.date $t.time</li>
         <br>
             <form action="/complete" method="post">
                 <input type ='hidden' name='todocheckbox' value=$t.item_id>
                 <input type="submit" value="Complete" >
              </form>
             <form action="/item_id" method="post">
                 <input type ='hidden' name='deadline' value=$t.item_id>
                 <input type="submit" value="Add Deadline" >
             </form>
          </ul>
      #end
    </ul>
    <form action="/create" method="get">
        <input type ='hidden' name='createtodo' value="makenew">
        <input type="submit" value="Create" >
    </form>


  </body>
</html>